# Node
node_modules
.pnpm-store

# Logs
*.log
logs

# Environment
.env
.env.*

# Git
.git
.gitignore

# IDE
.vscode
.idea

# OS
.DS_Store

# Build
dist
build
coverage

# Docker
docker-compose.yml

# Tests
*.test.js
*.spec.js